header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.userInfo {
    display: flex;
}
.name {
    font-size: small;
}
.email {
    font-size: small;
}

.logout, .editBtn {
    display: inline-block;
    background-color: cyan;
    padding: 2px 3px;
    font-size: 2px;
    border:black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease background-color, 0.3s ease color;
}
.logout:hover {
    color: white;
    background-color: #1fa34bf7;
    transform: scale(1.05);
    box-shadow: none;
}

.editBtn:hover {
    color: white;
    background-color: #1fa34bf7;
    transform: scale(1.05);
    box-shadow: none;
}
